/* Mobile */
@media (max-width: 351px) {

    // Home

    .titleCard {
        width: 100% !important;

        .titleHome {
            font-size: 15vw !important;
        }

        .borderBottonTitle {
            margin-top: -10px !important;
            width: 100% !important;
        }
    }

    .content {
        .textHome {
            font-size: 4vw;
        }
    }

    // Contact / Form

    .text-form {
        word-wrap: break-word;
    }

    .button-form {
        width: 50px;
    }

}

@media (min-width: 351px) {

    // Home

    .titleCard {
        width: 100% !important;

        .titleHome {
            font-size: 15vw !important;
        }

        .borderBottonTitle {
            margin-top: -16px !important;
        }
    }

    .content {
        .textHome {
            font-size: 15px;
        }
    }

}

/* SM */
@media (min-width: 576px) {

    // Home

    .titleCard {
        width: 455px !important;

        .titleHome {
            font-size: 90px !important;
        }
        
        .borderBottonTitle {
            margin-top: -20px !important; 
        }
    }

    .download-button {
        a {
            font-size: 14px;
        }
    }

    // Projects
    
    .container.main.projects {
        margin-bottom: 60px;
    }


}

/* MD */

@media (min-width: 768px) {
}

/* LG */

@media (min-width: 992px) {
}

/* XL */

@media (min-width: 1200px) { 
    
    // Home

    .content {
        .textHome {
            font-size: 14px;
            padding: 0 13%;
        }
    }

}

/* XXL */

@media (min-width: 1400px) {

}





@media (max-width: 576px) {
    // All
    
    .container.main.home,
    .container.main.skills,
    .container.main.projects,
    .container.main.contact,
    .container.main.not-found {
        margin-bottom: 10%;
    }


    // Home

    .download-button {
        a {
            font-size: 12px;
        }
    }

    // Contact / Form

    .title-form {
        font-size: 20px;
    }

    .text-form {
        font-size: 13px;
    }
}