/* Mobile */
@media (max-width: 351px) {
    .titleCard {
        width: 100% !important;

        .titleHome {
            font-size: 60px !important;
        }

        .borderBottonTitle {
            margin-top: -10px !important;
            width: 80% !important;
        }
    }
 
    .formatImage {
        height: 110px !important;
        width: 110px !important;
    }

    .content {
        .textHome {
            font-size: 13px;
        }
    }
}

@media (min-width: 351px) {

    .titleCard {
        width: 330px !important;

        .titleHome {
            font-size: 75px !important;
        }

        .borderBottonTitle {
            margin-top: -20px !important;
        }
    }

    .formatImage {
        height: 140px !important;
        width: 140px !important;
    }

    .content {
        .textHome {
            font-size: 14px;
        }
    }

}

/* SM */
@media (min-width: 576px) {
    .titleCard {
        width: 455px !important;

        .titleHome {
            font-size: 90px !important;
        }
        
        .borderBottonTitle {
            margin-top: -20px !important; 
        }
    }
}

/* MD */

@media (min-width: 768px) {
   
}

/* LG */

@media (min-width: 992px) {
    
}

/* XL */

@media (min-width: 1200px) {
    .content {
        .textHome {
            font-size: 14px;
            padding: 0 13%;
        }
    }
}

/* XXL */

@media (min-width: 1400px) {
    
}
