/* Mobile */
@media (max-width: 439px) {


    .titleCard {
        width: 100% !important;

        .titleHome {
            font-size: 15vw !important;
        }

        .borderBottonTitle {
            margin-top: -10px !important;
            width: 100% !important;
        }
    }
 
    .formatImage {
        height: 30vw !important;
        width: 30vw !important;
    }

    .content {
        .textHome {
            font-size: 4vw;
        }
    }
}

@media (min-width: 351px) {

    .titleCard {
        width: 342px !important;

        .titleHome {
            font-size: 75px !important;
        }

        .borderBottonTitle {
            margin-top: -20px !important;
        }
    }

    .formatImage {
        height: 140px !important;
        width: 140px !important;
    }

    .content {
        .textHome {
            font-size: 14px;
        }
    }

    

}

/* SM */
@media (min-width: 576px) {
    .titleCard {
        width: 455px !important;

        .titleHome {
            font-size: 90px !important;
        }
        
        .borderBottonTitle {
            margin-top: -20px !important; 
        }
    }
}

/* MD */

@media (min-width: 768px) {
}

/* LG */

@media (min-width: 992px) {
}

/* XL */

@media (min-width: 1200px) {     
    .content {
        .textHome {
            font-size: 14px;
            padding: 0 13%;
        }
    }
}

/* XXL */

@media (min-width: 1400px) {

}




// Vertical
@media (max-height: 566px) {
    
}