// Fonts
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,600&family=Sofia+Sans+Condensed:wght@100;300;500&display=swap');

$titleFont: 'Sofia Sans Condensed', sans-serif;
$textFont: 'Kanit', sans-serif;


// Colors
$colorText: rgba(255, 255, 255, 0.848);
$colorHover: rgb(66, 57, 182);
