/* Mobile */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,600&family=Sofia+Sans+Condensed:wght@100;300;500&display=swap");
@media (max-width: 351px) {
  .titleCard {
    width: 100% !important;
  }
  .titleCard .titleHome {
    font-size: 15vw !important;
  }
  .titleCard .borderBottonTitle {
    margin-top: -10px !important;
    width: 100% !important;
  }
  .content .textHome {
    font-size: 4.5vw;
  }
}
@media (min-width: 351px) {
  .titleCard {
    width: 100% !important;
  }
  .titleCard .titleHome {
    font-size: 15vw !important;
  }
  .titleCard .borderBottonTitle {
    margin-top: -16px !important;
  }
  .content .textHome {
    font-size: 15px;
  }
}
/* SM */
@media (min-width: 576px) {
  .titleCard {
    width: 455px !important;
  }
  .titleCard .titleHome {
    font-size: 90px !important;
  }
  .titleCard .borderBottonTitle {
    margin-top: -20px !important;
  }
}
/* MD */
/* LG */
/* XL */
@media (min-width: 1200px) {
  .content .textHome {
    font-size: 14px;
    padding: 0 13%;
  }
}
/* XXL */
@keyframes borderAnimation {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes letterTitleAnimation {
  0% {
    letter-spacing: -3px;
  }
  100% {
    letter-spacing: 3px;
  }
}
@keyframes textOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navbarArea {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 999;
}
.navbarArea .borderTopNavbar {
  animation: borderAnimation 2s ease-out;
  background-color: rgba(255, 255, 255, 0.848);
  height: 1px;
}

.navbar-nav.ml-auto {
  animation: textOpacity 2.5s ease-out;
  margin: auto;
}
.navbar-nav.ml-auto .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.848);
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 300;
  margin: 0 15px;
  text-decoration: none;
}
.navbar-nav.ml-auto .nav-item .nav-link:hover {
  outline: 1px solid rgba(255, 255, 255, 0.848);
}

.navbarButton {
  animation: textOpacity 2.5s ease-out;
  color: rgba(255, 255, 255, 0.848);
}

.d-flex.flex-column.flex-shrink-0 {
  animation: textOpacity 1.5s ease-in;
  height: 100%;
  width: 48px;
}

.iconNavMobile {
  color: rgba(255, 255, 255, 0.848);
  display: block;
  font-size: 17px;
  height: 25px;
  margin: auto;
}

.nav-link.py-3.border-bottom.border-top:hover {
  background-color: grey;
}

#navLink-home {
  margin-top: 50%;
}

.App {
  display: flex;
}

.container.main .titleCard {
  margin: auto;
  width: 516px;
}
.container.main .titleCard .titleHome {
  animation: letterTitleAnimation 2s ease-out;
  color: rgba(255, 255, 255, 0.848);
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 130px;
  font-weight: 100;
  letter-spacing: 3px;
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
}
.container.main .titleCard .borderBottonTitle {
  animation: borderAnimation 2s ease-out;
  background-color: rgba(255, 255, 255, 0.848);
  height: 2px;
  margin: -25px auto 20px auto;
  width: 80%;
}

.formatImage {
  border-radius: 50%;
  height: 23vw;
  margin: 0 auto 15px auto;
  max-height: 175px;
  max-width: 175px;
  overflow: hidden;
  width: 23vw;
}
.formatImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  animation: textOpacity 2.5s ease-out;
  margin: auto;
}
.content .textHome {
  color: rgba(255, 255, 255, 0.848);
  font-family: "Kanit", sans-serif;
  padding: 0 5%;
  text-align: center;
  word-wrap: break-word;
}

.social {
  animation: textOpacity 2.5s ease-out;
}
.social .socialIcons {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.social .socialIcons a {
  color: rgba(255, 255, 255, 0.848);
  text-decoration: none;
}
.social .socialIcons a .icon {
  font-size: 20px;
  margin: 0 2px;
}
.social .socialIcons a .icon:hover {
  color: rgb(66, 57, 182);
  transition: 0.5s;
}

.download-button {
  animation: textOpacity 2s;
  text-align: center;
}
.download-button a {
  background-color: rgba(255, 255, 255, 0.848);
  border-radius: 15px;
  color: black;
  font-family: "Sofia Sans Condensed", sans-serif;
  padding: 10px;
  text-decoration: none;
  transition: 0.5s;
}
.download-button a:hover {
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.848);
  color: rgba(255, 255, 255, 0.848);
  transition: 0.5s;
}

.container.main .title-skills {
  animation: letterTitleAnimation 2s;
  color: rgba(255, 255, 255, 0.848);
  font-family: "Sofia Sans Condensed", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  margin: 40px 0 30px 0;
  text-align: center;
}
.container.main .container.skills {
  animation: textOpacity 2s;
  justify-content: center;
}
.container.main .container.skills .skill-item {
  background-color: rgb(56, 55, 55);
  border-bottom: 3px solid rgba(255, 255, 255, 0.848);
  border-radius: 20px 0 20px 0;
  display: inline-block;
  height: 100px;
  padding: 10px;
  transition: 0.5s;
  width: 100px;
}
.container.main .container.skills .skill-item:hover {
  cursor: pointer;
  height: 120px;
  width: 120px;
}
.container.main .container.skills .skill-item:hover p {
  font-size: 20px;
  transition: 0.5s;
}
.container.main .container.skills .skill-item:hover .icon-skill {
  font-size: 35px;
  transition: 0.5s;
}
.container.main .container.skills .skill-item p {
  color: rgba(255, 255, 255, 0.848);
  font-family: "Sofia Sans Condensed", sans-serif;
  letter-spacing: 1px;
  text-align: center;
  transition: 0.5s;
}
.container.main .container.skills .skill-item .icon-skill {
  color: rgba(255, 255, 255, 0.848);
  display: block;
  font-size: 30px;
  margin: auto;
  transition: 0.5s;
}

.notFoundText {
  color: rgba(255, 255, 255, 0.848);
  margin-top: 40px;
  text-align: center;
}
.notFoundText h1, .notFoundText h2 {
  font-family: "Sofia Sans Condensed", sans-serif;
  letter-spacing: 2px;
}
.notFoundText p {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
}
.notFoundText .returnButton {
  color: rgba(255, 255, 255, 0.848);
  border: 2px solid rgba(255, 255, 255, 0.848);
  border-radius: 10px;
  font-size: 40px;
  padding: 5px;
}
.notFoundText .returnButton:hover {
  background-color: rgba(255, 255, 255, 0.848);
  color: black;
}

.container.main {
  order: 2;
}

/*# sourceMappingURL=Main.css.map */
