.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(10, 10, 10) 50%, rgb(0, 0, 0) 50%);
    bottom: 0;
    height: 150vh;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index:-1;
}
 
.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}
 
.bg3 {
    animation-duration: 5s;
}

.container.main {
    order: 2;
}


  

