// Components
@import "../components/Navbar.scss";

.App {
    display: flex;
}

.container.main {
    .titleCard {
        margin: auto;
        width: 516px;
    
        .titleHome {
            @include titlePage (100);
            font-size: 130px;
            padding-top: 20px;
            text-transform: uppercase;
        }
    
        .borderBottonTitle {
            animation: borderAnimation 2s ease-out;
            background-color: $colorText;
            height: 2px;
            margin: -25px auto 20px auto;
            width: 80%;
        }
        
    }
}


.formatImage {
    border-radius: 50%;
    height: 23vw;
    margin: 0 auto 15px auto;
    max-height: 175px;
    max-width: 175px;
    overflow: hidden;
    width: 23vw;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.content {
    animation: textOpacity 2.5s ease-out;
    margin: auto;

    .textHome {
        color: $colorText;
        font-family: $textFont;
        padding: 0 5%;
        text-align: center;
        word-wrap: break-word;
    }

}

.social {
    animation: textOpacity 2.5s ease-out;

    .socialIcons {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    
    
        a {
            color: $colorText;
            text-decoration: none;
            
            .icon {
                font-size: 20px;
                margin: 0 2px;

                &:hover {
                    color: $colorSocialHover;
                    transition: 0.5s;
                }

            }
            
        }
    }
    
}

.download-button {
    animation: textOpacity 2s;
    text-align: center;

    a {
        background-color: $colorText;
        border-radius: 15px;
        color: black;
        font-family: $titleFont;
        padding: 10px;
        text-decoration: none;
        transition: 0.5s;

        &:hover {
            background-color: black;
            border: 1px solid $colorText;
            color: $colorText;
            transition: 0.5s;
        }
    }
}


















